/* src/index.css */
@import "tailwindcss"; /* Dành cho Tailwind v4 */

/* Hoặc nếu bạn dùng v3 thì là 3 dòng này:
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e5e7eb;
  border-radius: 4px;
}